/**
 * SOCIAL LINKS
 **/

// Fontawesome v5 brands.css loaded by GHL does not define classes
// so we need to manually define them. FA all.css defines them properly.
.fa-facebook:before {
  content: "\f09a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-slack:before {
  content: "\f198";
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-telegram:before {
  content: "\f2c6";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-pinterest:before {
  content: "\f0d2";
}
ul.social-links {
  padding: 0;
  display: flex;
  justify-content: flex-end;

  li {
    list-style: none;
    a {
      margin: 0 5px 10px;
      i {
        padding: 5px;
        border: 1px solid #9ba8a5;
        font-size: 20px;
        background-color: #9ba8a5;
        border-radius: 40px;
        color: #ffffff;
        transition: background-color 0.5s linear;
      }
      // Hide icons without a valid href link
      &[href]:not([href^="http"]),
      &[href=""],
      &[href="-"] {
        display: none;
      }
    }
    &:hover a i {
      background-color: var(--theme-button-primary-bg-color);
      color: #ffffff;
    }
  }
}
